<div class="container">
    <div class="col-4 offset-4">
        <form method="post">
            <labal>Username</labal>
            <input typw="text" name="Username" class="form-control"/>
            <label>Password</label>
            <input type="password" name="Password" class="form-control"/>
            <button type="submit"class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
