<div class="container">
    <div class="col-4 offset-4 ">
        <form method="post">
            <labal>Username</labal>
            <input type="text"name="Username" class="form-control"/>
            <labal>Email</labal>
            <input type="email" name="Email" class="form-control"/>
            <labal>Password</labal>
            <input type="password"name="Password" class="form-control"/>
            <labal>Password Confirm</labal>
            <input type="password"name="PasswordConfirm" class="form-control"/>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>